/*Checkbox themes*/

.customCheck {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
}

.customCheck input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
}

.customCheck .customCheck_helper {
    height: 20px;
    width: 20px;
    display: inline-block;
    background: #000;
    border: 6px solid white;
    box-shadow: 0 0 0 3px #000;
    margin: 3px;
    transition: all 0.35s ease;
}

.customCheck [type="radio"] + .customCheck_helper{
    border-radius: 100%;
}

.customCheck.hover .customCheck_helper {
    background-color: darkcyan;
    box-shadow: 0 0 0 3px darkcyan;
}

.customCheck.checked .customCheck_helper {
    background-color: cyan;
    box-shadow: 0 0 0 3px cyan;
}

.customCheck.disabled {
    cursor: not-allowed !important;
}


.customCheck + label {
    display: inline-block;
    transform: translateY(-3px);
    transition: all 0.35s ease;
}

.customCheck + label.hover:hover {
    cursor: pointer;
    color: darkcyan;
}
